<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
	<typeAliases>
		<!-- Device -->
		<typeAlias alias="device" 		type="network.server3.vo.Device"/>
		<typeAlias alias="sensor" 		type="network.server3.vo.Sensor"/>
		<typeAlias alias="sensorData" 	type="network.server3.vo.SensorData"/>
		<!-- Guest -->
		<typeAlias alias="guest" 		type="network.server3.vo.Guest"/>
		<typeAlias alias="Room" 		type="network.server3.vo.Room"/>
		<typeAlias alias="roomDetail" 	type="network.server3.vo.RoomDetail"/>
		<typeAlias alias="reservation" 	type="network.server3.vo.Reservation"/>
		<typeAlias alias="hope" 		type="network.server3.vo.Hope"/>
		<typeAlias alias="alarm" 		type="network.server3.vo.Alarm"/>
		<typeAlias alias="alarmData" 	type="network.server3.vo.AlarmData"/>
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe" />
				<property name="username" value="LATTE" />
				<property name="password" value="latte" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="network/server3/mybatis/mappers/GuestMapper.xml" />
		<mapper resource="network/server3/mybatis/mappers/ReservMapper.xml" />
		<mapper resource="network/server3/mybatis/mappers/DeviceMapper.xml" />
	</mappers>
</configuration>